@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Store | Online";
    Layout = "~/views/_Layout.cshtml";
}

@model Online_Store.pagemodels.Index;

@{
    if (Model == null)
    {
        <p class="text-center fw-bold mb-5 mx-1 mx-md-4 mt-4 text-danger text-center">MODEL IS NULL!!!</p>
        return;
    }
    if (Model.error)
    {
        <p class="text-center fw-bold mb-5 mx-1 mx-md-4 mt-4 text-danger text-center">@Model.Message</p>
    }
    else
    {
        <p class="text-center fw-bold mb-5 mx-1 mx-md-4 mt-4 text-success text-center">@Model.Message</p>
    }
}

