@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Store | Online";
    Layout = "~/views/_Layout.cshtml";
}

@model Models.User;

<div class="container mt-5 pb-2">
    <h1 class="text-warning text-center">Neeed to update your information? Here is the place to do it.</h1>
    <form class="d-grid" method="post" action="/User/Update">

        <div class="row">
            <div class="form-group col-md-6">
                <label for="inputFName">FirstName</label>
                <input type="text" class="form-control" id="inputFName" name="firstName" placeholder=@Model.firstName required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputLName">Password</label>
                <input type="text" class="form-control" id="inputLName" name="lastName" placeholder=@Model.lastName required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="email" placeholder=@Model.email required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control" id="inputPassword4" name="password" placeholder=@Model.password required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" name="address" placeholder="@Model.address" required>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="inputAge">Age</label>
                <input type="number" class="form-control" id="inputAge" name="age" placeholder=@Model.age required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputState">Gender</label>
                <input type="text" class="form-control" id="inputGender" name="sex" placeholder=@Model.sex required>
            </div>
        </div>
        <div class="form-group">
            <label for="lastLogin">Last Login</label>
            <input type="text" class="form-control" id="lastLogin" readonly value="@Model.lastLogin">
        </div>
        <div class="w-100 pt-2 pb-2"></div>
        <button type="submit" class="btn btn-primary">Change Info</button>
    </form>
</div>

<style>
    body{
        background-color: lightskyblue;
    }

    label{
        color: green;
    }

    .container{
        background-color: whitesmoke;
        border-radius: 32pt;
    }
</style>