@{
    Layout = "~/views/_AdminLayout.cshtml";
    ViewBag.Title = "Users | Store";
}

<noscript>
    <h1 class="text-danger">Please enable javascript in your browser to continue using the site! Thanks for managing your store today!</h1>
</noscript>
<script src="~/scripts/Admin/main.js"></script>
